:root {
  --accent-color: #2196f3;
  --black-text: #212121;
  --grey-text: #757575;
  --white-text: #ffffff;
  --white-back: #e5e5e5;
  --grey-back: #f5f4fa;
  --dark-back: #2f303a;
  --size-heder: 14px;
  --height-heder: 1;
}



body {
  font-family: "Roboto", sans-serif;
  color: var(--black-text);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}


.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  color: var(--accent-color);
  font-weight: 700;
  font-family: "Raleway";
  font-size: 26px;
  text-align: Left;
  letter-spacing: 3%;
}
.logo-sec {
  color: var(--black-text);
}

.site-nav {
  font-size: var(--size-heder);
  line-height: var(--height-heder);
}

.nav-item {
  font-weight: 500;
}

.mail-header {
  color: var(--grey-text);
  font-size: var(--size-heder);
  line-height: var(--height-heder);
  font-weight: 500;
}

.phone {
  color: var(--grey-text);
  font-size: var(--size-heder);
  line-height: var(--height-heder);
  font-weight: 500;
}

.current {
color: var(--accent-color);}

.link {
  color: inherit;
}

.hero {
  /* background-color: var(--dark-back); */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.16;
  color: var(--white-text);
  letter-spacing: 6%;
}

.unvisible {
  visibility: hidden;
}

.order {
  background-color: var(--accent-color);
  color: var(--white-text);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
}

.description {
  font-weight: 400;
  color: var(--grey-text);
  line-height: 1.46;
  letter-spacing: 3%;
}

.advantage {
  font-weight: 700;
  letter-spacing: 3%;
}

.section-name {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
}

.team {
  font-size: 16px;
  font-weight: 500;
  background-color: var(--grey-back);
  line-height: 1;
}

.profession {
  color: var(--grey-text);
  font-weight: 400;
}

.adress {
  line-height: 1.46;
  font-weight: 700;
  color: var(--white-text);
  font-style: inherit;
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.46;
}

.logo-sec-footer {
  color: var(--white-text);
}

.portfolio-name {
  font-size: 18px;
  line-height: 1.71;
  font-weight: 700;
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--grey-text);
}

.filter {
  font-weight: 500;
  line-height: 1.39;
  font-size: 16px;
  color: var(--black-text);
  background-color: var(--grey-back);
  font-family: "roboto";
}

/* псевдоклассы состояния: */

.interactive:hover,
.interactive:focus {
  color: var(--accent-color);
}
.filter:hover,
.filter:focus {
  color: var(--white-text);
  background-color: var(--accent-color);
  cursor: pointer;
}

.order:hover,
.order:focus {
  cursor: pointer;
}

/* hm-3-flex */

/* сбросы: */

p, h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  padding-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* header: */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.section-sec {
padding-top: 0;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 24px 15px 25px;
  }

.header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ECECEC;
}  

  .site-nav {
    display: flex;
    margin-left: 93px;
  }

.header-contacts {
  display: flex;
  margin-left: auto;
  }

  .nav-item:not(:last-child) {
    margin-right: 50px;
  }

  .contact-item:first-child {
    margin-right: 50px;
  }

/* hero */

.hero-css {
  display: flex;
  flex-direction: column;
  min-width: auto;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.hero {
  margin-bottom: 30px;
  text-align: center;  
}

.order {
  border-radius: 4px;
  padding: 10px 32px;
}

/* advantages */

.advantages {
  display: flex;
}

.advantage {
  margin-bottom: 10px;
}

.adv-item:not(:last-child) {
  margin-right: 30px;
}

.adv-item {
  flex-basis: calc((100% - (3*30px)) / 4);
}

/* чем мы занимаемся */

.gigs-title {
  text-align: center;
}

.gigs {
  display: flex;

  }

.gig:not(:last-child) {
  margin-right: 30px;
}  

.section-name {
  padding-bottom: 50px;
}

/* team */

.stuff {
  display: flex;
}

.stuff-item:not(:last-child) {
  margin-right: 30px;}

.stuff-item { 
  background-color: #fff;
  border-radius: 4px;
}

.name, .profession {
  text-align: center;
}

.section-name {
  text-align: center;
}

/* footer */

.footer {
  background-color: var(--dark-back);
  padding: 60px 0;
  }

.logo-footer {
  margin-bottom: 50px;
}  

.adress {
  margin-top: 20px;
  margin-bottom: 9px;
}

.mail-footer {
  margin-bottom: 9px;
}

/* button-filter */

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

.filter {
  border-radius: 4px;
  padding: 6px 22px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;}

/* portfolio */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
  }


.portfolio-name {
  color: var(--black-text);
  margin-bottom: 4px;
}

/* .portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n+3)) {
  border: 1px solid #EEE;
  margin-bottom: 30px;
}   */

.portfolio-item {
  margin-bottom: 30px;
  margin-right: 30px;
  flex-basis: calc((100% - (3*30px)) / 3);
}

/* fixing bugs */

button {
  border: none;
}

.port-desc {
  width: 370px;
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.stuff-desc {
  padding: 30px 0;
}

.name {
  margin-bottom: 10px;
}

/* HW-4  */

.stuff-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);}


.mail-header::before {
  content: "";
  background-color: #212121;
  display: inline-block;
}

.adv-decor {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.hero-css {
  background-color: var(--dark-back);
  background-image: url(..images/back-img.jpg);
}

